@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
  color: #060607;
}

html.dark {
  background-color: #060607;
  color: white;
}

html.dark body {
  color: white;
}

.container {
  margin: 0 auto;
}

.hover-link-color:hover {
  color: #ff3b00;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-items: center;
}

.icon-sun {
  -webkit-mask: url('/assets/icons/sun.svg') no-repeat center center / 100%;
  mask: url('/assets/icons/sun.svg') no-repeat center / 100%;
}

.icon-moon {
  -webkit-mask: url('/assets/icons/moon.svg') no-repeat center / 100%;
  mask: url('/assets/icons/moon.svg') no-repeat center / 100%;
}

.icon-right-up {
  -webkit-mask: url('/assets/icons/right-up.svg') no-repeat center / 100%;
  mask: url('/assets/icons/right-up.svg') no-repeat center / 100%;
}

.icon-star {
  -webkit-mask: url('/assets/icons/star.svg') no-repeat center / 100%;
  mask: url('/assets/icons/star.svg') no-repeat center / 100%;
}

.icon-plus {
  -webkit-mask: url('/assets/icons/plus.svg') no-repeat center / 100%;
  mask: url('/assets/icons/plus.svg') no-repeat center / 100%;
}

.icon-minus {
  -webkit-mask: url('/assets/icons/minus.svg') no-repeat center / 100%;
  mask: url('/assets/icons/minus.svg') no-repeat center / 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
}

::-webkit-scrollbar:vertical {
  width: 2px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
